html
    head
        include ../partials/head
    body.body_products 
        include ../partials/navbar
        if products.length > 0
            div.contenedor_padre
                h1="Vista de productos"
                div.encabezado
                    h3="Nombre"
                    h3="Precio"
                    h3="Foto"
                for item in products
                    div.contenedor_productos
                        p=item.title
                        p=item.price
                        div.contenedor_imagen
                            img(class='product-img', src=item.thumbnail)
        else 
            h2.lista_vacia="No se encontraron productos"